li{
  list-style-type: none;
}
.footer{
  clear: both;
  text-align: center;
}

.footer a{
  text-decoration: none;
  color: white;
  background-color: black;
  /*padding: 10px 0;*/
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}
@media only screen and (min-width: 768px){
.footer{
  clear: both;
  background-color: black;
  color: white;
  overflow: hidden;
  padding-bottom: 0;
}
.footer li{
  display: inline-block;
}
.footer ul{
  text-align: center;
  overflow: hidden;
  padding: 12px;
}
.footer li a{
  padding: 0 10px;
  font-size: 14px;
  border-right: rgba (0,0,0,0.7);
  text-transform: uppercase;
}
.footer a{
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  /*padding: 10px 0;*/
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}
}
