li{
  list-style-type: none;
}
.footer{
  clear: both;
  text-align: center;
}

.footer a{
  text-decoration: none;
  color: white;
  background-color: black;
  /*padding: 10px 0;*/
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}
@media only screen and (min-width: 768px){
.footer{
  clear: both;
  background-color: black;
  overflow: hidden;
  padding-bottom: 0;
  /*background-color: red;*/
  /*border-radius: 30px 30px 0px 0px;*/
}
.footer li{
  display: inline-block;
}
.footer ul{
  text-align: center;
  overflow: hidden;
  padding: 50px;
}
.footer li a{
  /*background-color: red;*/
  padding: 0 10px;
  font-size: 14px;
  border-right: 1px solid white;
  text-transform: uppercase;
}
}
