html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	box-sizing: border-box;
}
/*--------------------- CSS Cleaning ----------------------*/
/*small first*/

.container{
	background-color: #dcdcdc;
	width: 100%;
}

i{
display: inline-block;
}
#logo{
	position: fixed;
	left: 50vw;
	transform: translate(-50%, 0%);
	width: 10%;
}
#burger{
	margin-left: 1%;
	width: 10%;
	float: left;
	text-align: center
}
#busqueda{
	width: calc(10% + 1%);
	float: right;
	padding-right: 1%;
	border-right: 1px solid black;
	text-align: center
}
#carro{
	width: calc(10% + 0.5%);
	float: right;
	margin-right: 1%;
	padding-left: 1%;
	text-align: center
}

#solo-grande{
	display: none;
}
.separador{
	width: 100vw;
	background-color: #dcdcdc;
}
.separador h3{
	color: rgba(120,0,0,1);
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}
.separador p{
	color: #202020;
	margin-top: -10px;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 27px;
	text-align: center;
	font-weight: bold;
}


@media (min-width: 768px){
	.container{
		max-width: 100%;
	}
	.header-pantalla-grande{
		display:block;
		padding: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin: 0 auto;
	}
	#solo-chico{
		display: none;
	}
	#solo-grande{
		max-width: 100%;
		max-height: 500px;
		display: inline-block;
	}
}
