html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	box-sizing: border-box;
}
/*--------------------- CSS Cleaning ----------------------*/
/*small first*/

.container{
	/*max-width: 480px;*/
	/*margin: 0 auto;*/
	background-color: #dcdcdc;
}
/*header{
	overflow: hidden;
	width: 100vw;
	background-color: #fafafa;
	position: fixed;
	padding-top: 3px;
	padding-bottom: 3px;
	z-index: 150;*/
}
#header_nav{
	display: none;
}

i{
display: inline-block;
}

#logo{
	position: fixed;
	left: 50vw;
	transform: translate(-50%, 0%);
	width: 10%;
}
#burger{
	margin-left: 1%;
	width: 10%;
	float: left;
	text-align: center
}
#busqueda{
	width: calc(10% + 1%);
	float: right;
	padding-right: 1%;
	border-right: 1px solid black;
	text-align: center
}
#carro{
	width: calc(10% + 0.5%);
	float: right;
	margin-right: 1%;
	padding-left: 1%;
	text-align: center
}

.separador{
	width: 100vw;
	background-color: #dcdcdc;
}
.separador h3{
	color: rgba(120,0,0,1);
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}
.separador p{
	color: #202020;
	margin-top: -10px;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 27px;
	text-align: center;
	font-weight: bold;
}

/*
@media (min-width: 768px){
	medium size
	.container{
	  max-width: 768px;
	}
	header{
		position: relative;
	}
	.main-nav{
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 35%;
	}

	.main-nav ul{
	}

	.main-nav li{
	}

	.main-nav li:last-child{
	}

	li a{
		font-size: 25px;
	}
	.products-gallery{
		padding-left: 2.5%;
		padding-right: 2.5%;
		background-color: rgba(255,50,255,0.6);
		border: solid 3px black;
		overflow: hidden;
		padding-bottom: 30px;
	}
	.product{
		float: left;
		background-color: rgba(255,0,0,0.6);
	}
	#product-img{

	}
}
*/
