.logo_footer{
  display: none;
}
li{
  list-style-type: none;
}
.footer{
  clear: both;
  text-align: center;
  background-color: #428DA6;

}

.footer a{
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
  margin: 5px;
}

@media only screen and (min-width: 768px){
  .logo_footer{
    max-width: 121px;
    float: left;
    padding-left: 20px;
    padding-top: 0.35%;
  }
  .footer{
    clear: both;
    background-color: black;
    color: white;
    overflow: hidden;
    padding-bottom: 0;
  }
  .footer li{
    display: inline-block;
  }
  .footer ul{
    text-align: center;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
  }
  .footer li a{
    padding: 0 10px;
    font-size: 14px;
  }
  .footer a{
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    border-right: 1px, solid, red;
  }
}
