



* {
  box-sizing: border-box;

}
.upper-header {
  overflow: hidden;
  text-align: center;
  width: 100vw;
  margin: 0 auto;
  /*max-width: 480px;*/

}    /*le Pongo el overflow para que reconozca mobile-toggle que contiene*/

.mobile-toggle {
  float: left;
  margin-top: 4vw;
  padding-left: 6vw;
}
.fa-bars {
  float: left;
  padding-left: 20px;
  padding-top: 12px;
}
.logo-container {
  display: inline-block;
  margin-top: 3vw;
}
.logo{
  padding-top: 10px;
  max-height: 40px;
}
.fa-truck,.envios,.fa-credit-card,.cuotas{
  display: none;
}
.fa-shopping-cart{
  padding-right: 20px;
  padding-top: 12px;
  float: right;
}
/*las 3 íneas de arriba lo encontré en Stackoverflow y sirven para que una imagen se ajuste a su div/contenedor*/
.benefits-container, .welcome, .adress-card, .cart-total {
  display: none;
}
.customer-specific {
  display: inline-block;
  float: right;
  font-size: 30px;
  padding-right: 6vw;
  margin-top: 4vw;
}

.search-container {
  text-align: center;
  font-size: 0px; /*Esta Línea la agrego para juntar el botón con el placeholder*/
  margin-bottom: 5px;
  margin-top: 5px;
}
.search-field {
  margin-right: 0px;
  height: 30px;
  width: 60vw;
  font-size: 18px;
}
.search-container button {
  margin-left: 0;
  font-size: 18px;
  padding-bottom:0px;
  width: 20vw;
  height: 30px;
  padding-top: 0vw;


}
.faq-h1 {
  padding-top: 5vw;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.qa {
  margin-top: 3vw;

}
.question {
  text-align: center;
  margin-bottom: 2vw;
  font-weight: bold;
}
.answer {
  margin: 0 3vw;
}

.login-header{
  background-color: black;
  overflow: hidden;
  display: none;
}
.login-logout{
  margin-right: 5px;
}
.login-logout > a{
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  float: right;
  color: white;
  font-weight: bold;
}
.login-logout > p{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  float: right;
  color: white;
  font-weight: bold;
}

@media (min-width: 1200px){
  .fa-bars{
    display: none;
  }
  .logo{
    max-height: 60px;
    float: left;
    padding-left: 10%;
  }
  .welcome{
    font-size: 16px;
    float: right;
    display: inline-block;
    margin-top: 2%;
    margin-right: 5px;
  }
  .avatar{
    float: right;
    width: 50px;
    margin-top: 10px;
    border-radius: 30px;
  }
  .fa-shopping-cart{
    padding-right: 10%;
    padding-top: 1.5%;
    padding-left: 10px;
  }
  /*HEADER ABAJO*/
  .lower-header {
    padding-top: 5px;
    margin-bottom: 10px;
  }
}
